* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2e8b578d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  gap: 0.625rem 0;
  background: none;
  backdrop-filter: blur(5rem);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 70%;
  width: 90%;
  gap: 0.625rem;
}

section main {
  background-color: #2e8b57;
  width: 70%;
  height: 90%;
  overflow: scroll;
}

section main img {
  width: 16rem;
  height: auto;
}

section main > * {
  margin-left: 1.563rem;
  margin-top: 0.938rem;
}

section main hr {
  margin: 0.5rem;
}

section main ol {
  margin-left: 2.188rem;
}

section aside {
  background-color: #2e8b57;
  width: 30%;
  height: 90%;
  overflow: scroll;
}

aside ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.313rem;
}

aside li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  margin-left: 0.938rem;
}

aside li img {
  width: 4rem;
  height: auto;
}

aside li p {
  margin-left: 0.313rem;
}

footer {
  background-color: #2e8b57;
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  gap: 15px;
  padding: 5px;
}

footer audio {
  align-self: center;
}

footer > span,
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.625rem;
  padding: 0.5rem;
  background: none;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

footer > span button,
div button.command {
  background-color: #0000009c;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}
